Repository WoWs-Builder-Team/WoWs-ShipBuilder, pull requests merged in 2023-10, with the labels that each got.

#263 Version 2.2 Update 1 (Desktop)
  WoWsShipBuilder.Common/DataContainers/Aircraft/CvAircraftDataContainer.cs
  WoWsShipBuilder.Common/DataContainers/Ship/ManeuverabilityDataContainer.cs
  WoWsShipBuilder.Common/wwwroot/scripts/ChartsHelper.js
Labels: Critical, Common

#262 Version 2.2 Update 1 (Web)
  WoWsShipBuilder.Common/DataContainers/Aircraft/CvAircraftDataContainer.cs
  WoWsShipBuilder.Common/DataContainers/Ship/ManeuverabilityDataContainer.cs
  WoWsShipBuilder.Common/wwwroot/scripts/ChartsHelper.js
Labels: Critical, Common

#261 Ship Comparison Revamp
  WoWsShipBuilder.Common/Features/Builds/Components/BuildImageRenderDialog.razor
  WoWsShipBuilder.Common/Features/Settings/AppSettings.cs
  WoWsShipBuilder.Common/Features/ShipComparison/ComparisonShipFilter.razor
  WoWsShipBuilder.Common/Features/ShipComparison/ShipComparison.razor
  WoWsShipBuilder.Common/Features/ShipComparison/ShipComparisonViewModel.cs
  WoWsShipBuilder.Common/Features/ShipStats/Components/ShipStatsPanel.razor
  WoWsShipBuilder.Common/Infrastructure/Localization/Resources/Translation.Designer.cs
  WoWsShipBuilder.Common/Infrastructure/Localization/Resources/Translation.resx
  WoWsShipBuilder.Common/wwwroot/css/app.css
Labels: enhancement

#270 Theme Rework
  ReleaseNotes.md
  WoWsShipBuilder.Common/Features/AccelerationCharts/AccelerationCharts.razor
  WoWsShipBuilder.Common/Features/AccelerationCharts/CustomAccelerationDataDialog.razor
  WoWsShipBuilder.Common/Features/AccelerationCharts/ShipBuildContainerSelectionDialog.razor
  WoWsShipBuilder.Common/Features/BallisticCharts/Charts.razor
  WoWsShipBuilder.Common/Features/BallisticCharts/ShipAndShellSelectionDialog.razor
  WoWsShipBuilder.Common/Features/Builds/Components/BuildConfigurationDialog.razor
  WoWsShipBuilder.Common/Features/Builds/Components/BuildImageRenderDialog.razor
  WoWsShipBuilder.Common/Features/Builds/Components/BuildImageSettingsDialog.razor
  WoWsShipBuilder.Common/Features/Builds/Components/CaptainSkillSelectorImageRender.razor
  WoWsShipBuilder.Common/Features/Builds/Components/SignalSelectorImageRender.razor
  WoWsShipBuilder.Common/Features/ShipComparison/ComparisonShipFilter.razor
  WoWsShipBuilder.Common/Features/ShipComparison/GridSections/AaDefenseFragment.razor
  WoWsShipBuilder.Common/Features/ShipComparison/GridSections/AerialTorpedoesFragment.razor
  WoWsShipBuilder.Common/Features/ShipComparison/GridSections/AirStrikeFragment.razor
  WoWsShipBuilder.Common/Features/ShipComparison/GridSections/ApShellFragment.razor
  WoWsShipBuilder.Common/Features/ShipComparison/GridSections/AswFragment.razor
  WoWsShipBuilder.Common/Features/ShipComparison/GridSections/BombersFragment.razor
  WoWsShipBuilder.Common/Features/ShipComparison/GridSections/BombsFragment.razor
  WoWsShipBuilder.Common/Features/ShipComparison/GridSections/ConcealmentFragment.razor
  WoWsShipBuilder.Common/Features/ShipComparison/GridSections/HeShellFragment.razor
  WoWsShipBuilder.Common/Features/ShipComparison/GridSections/MainBatteryFragment.razor
  WoWsShipBuilder.Common/Features/ShipComparison/GridSections/ManeuverabilityFragment.razor
  WoWsShipBuilder.Common/Features/ShipComparison/GridSections/RocketPlanesFragment.razor
  WoWsShipBuilder.Common/Features/ShipComparison/GridSections/RocketsFragment.razor
  WoWsShipBuilder.Common/Features/ShipComparison/GridSections/SapShellFragment.razor
  WoWsShipBuilder.Common/Features/ShipComparison/GridSections/SecondaryBatteryFragment.razor
  WoWsShipBuilder.Common/Features/ShipComparison/GridSections/SecondaryBatteryShellsFragment.razor
  WoWsShipBuilder.Common/Features/ShipComparison/GridSections/SonarFragment.razor
  WoWsShipBuilder.Common/Features/ShipComparison/GridSections/SurvivabilityFragment.razor
  WoWsShipBuilder.Common/Features/ShipComparison/GridSections/TorpedoBombersFragment.razor
  WoWsShipBuilder.Common/Features/ShipComparison/GridSections/TorpedoesFragment.razor
  WoWsShipBuilder.Common/Features/ShipComparison/GridSections/UtilityFragments.razor
  WoWsShipBuilder.Common/Features/ShipComparison/HideComparisonColumnsDialog.razor
  WoWsShipBuilder.Common/Features/ShipComparison/ShipComparison.razor
  WoWsShipBuilder.Common/Features/ShipSelection/ShipSelector.razor
  WoWsShipBuilder.Common/Features/ShipStats/Components/CaptainSkillSelector.razor
  WoWsShipBuilder.Common/Features/ShipStats/Components/CaptainTalentsAndConditionalSkillDialog.razor
  WoWsShipBuilder.Common/Features/ShipStats/Components/ShipStatsPanel.razor
  WoWsShipBuilder.Common/Features/ShipStats/Components/ShipStatsTab.razor
  WoWsShipBuilder.Common/Features/ShipStats/Components/SignalSelector.razor
  WoWsShipBuilder.Common/Features/ShipStats/ShipStats.razor
  WoWsShipBuilder.Common/Infrastructure/Utility/Helpers.cs
  WoWsShipBuilder.Common/wwwroot/css/app.css
  WoWsShipBuilder.Desktop/Features/BlazorWebView/DesktopLayout.razor
  WoWsShipBuilder.Desktop/Features/Settings/SettingsComponent.razor
  WoWsShipBuilder.Desktop/version.json
  WoWsShipBuilder.Desktop/wwwroot/index.html
  WoWsShipBuilder.Web/Common/MainLayout.razor
  WoWsShipBuilder.Web/Common/TopMenu.razor
  WoWsShipBuilder.Web/Features/Host/_Layout.cshtml
  WoWsShipBuilder.Web/Features/UserSettings/UserSettings.razor
  WoWsShipBuilder.Web/Program.cs
  WoWsShipBuilder.Web/version.json
Labels: enhancement, Common
