Repository WoWs-Builder-Team/WoWs-ShipBuilder, pull requests merged in 2023-07, with the labels that each got.

#244 Version 2.1 Update 1 (Desktop)
  ReleaseNotes.md
  WoWsShipBuilder.Common/DataContainers/AccelerationCalculator.cs
  WoWsShipBuilder.Common/DataContainers/Projectiles/ShellDataContainer.cs
  WoWsShipBuilder.Common/DataContainers/Ship/SpecialAbilityDataContainer.cs
  WoWsShipBuilder.Common/Features/ShipComparison/ShipComparison.razor
  WoWsShipBuilder.Common/Features/ShipComparison/ShipComparisonViewModel.cs
  WoWsShipBuilder.Common/Features/ShipSelection/ShipSelector.razor
  WoWsShipBuilder.Common/Features/ShipStats/Components/ShipStatsPanel.razor
  WoWsShipBuilder.Common/Features/ShipStats/Components/ShipStatsTab.razor
  WoWsShipBuilder.Common/Features/ShipStats/ShipStats.razor
  WoWsShipBuilder.Common/Features/ShipStats/ViewModels/ShipViewModel.cs
  WoWsShipBuilder.Common/Infrastructure/ApplicationData/AppData.cs
  WoWsShipBuilder.Common/Infrastructure/ApplicationData/DataCacheHelper.cs
  WoWsShipBuilder.Common/Infrastructure/Localization/Resources/Translation.Designer.cs
  WoWsShipBuilder.Common/Infrastructure/Localization/Resources/Translation.resx
  WoWsShipBuilder.Common/Infrastructure/Metrics/MetricsService.cs
  WoWsShipBuilder.Data.Generator.Test/SourceGeneratorTest.cs
  WoWsShipBuilder.Data.Generator.Test/WoWsShipBuilder.Data.Generator.Test.csproj
  WoWsShipBuilder.Desktop/Features/BlazorWebView/DesktopTopMenu.razor
  WoWsShipBuilder.Desktop/Features/Settings/SettingsComponent.razor
  WoWsShipBuilder.Desktop/Features/Settings/SettingsDialog.razor
  WoWsShipBuilder.Desktop/Infrastructure/DesktopSettingsAccessor.cs
  WoWsShipBuilder.Web/Common/App.razor
  WoWsShipBuilder.Web/Features/Host/Error.cshtml
  WoWsShipBuilder.Web/Features/Host/Error.cshtml.cs
  WoWsShipBuilder.Web/Features/Host/_Host.cshtml
  WoWsShipBuilder.Web/Features/Host/_Layout.cshtml
  WoWsShipBuilder.Web/Features/TestPage/TestPage.razor
  WoWsShipBuilder.Web/Features/TestPage/TestPage2.razor
  WoWsShipBuilder.Web/Program.cs
  WoWsShipBuilder.sln
Labels: Desktop

#243 Version 2.1 Update 1 (Web)
  ReleaseNotes.md
  WoWsShipBuilder.Common/DataContainers/AccelerationCalculator.cs
  WoWsShipBuilder.Common/DataContainers/Projectiles/ShellDataContainer.cs
  WoWsShipBuilder.Common/DataContainers/Ship/SpecialAbilityDataContainer.cs
  WoWsShipBuilder.Common/Features/ShipComparison/ShipComparison.razor
  WoWsShipBuilder.Common/Features/ShipComparison/ShipComparisonViewModel.cs
  WoWsShipBuilder.Common/Features/ShipSelection/ShipSelector.razor
  WoWsShipBuilder.Common/Features/ShipStats/Components/ShipStatsPanel.razor
  WoWsShipBuilder.Common/Features/ShipStats/Components/ShipStatsTab.razor
  WoWsShipBuilder.Common/Features/ShipStats/ShipStats.razor
  WoWsShipBuilder.Common/Features/ShipStats/ViewModels/ShipViewModel.cs
  WoWsShipBuilder.Common/Infrastructure/ApplicationData/AppData.cs
  WoWsShipBuilder.Common/Infrastructure/ApplicationData/DataCacheHelper.cs
  WoWsShipBuilder.Common/Infrastructure/Localization/Resources/Translation.Designer.cs
  WoWsShipBuilder.Common/Infrastructure/Localization/Resources/Translation.resx
  WoWsShipBuilder.Common/Infrastructure/Metrics/MetricsService.cs
  WoWsShipBuilder.Data.Generator.Test/SourceGeneratorTest.cs
  WoWsShipBuilder.Data.Generator.Test/WoWsShipBuilder.Data.Generator.Test.csproj
  WoWsShipBuilder.Desktop/Features/BlazorWebView/DesktopTopMenu.razor
  WoWsShipBuilder.Desktop/Features/Settings/SettingsComponent.razor
  WoWsShipBuilder.Desktop/Features/Settings/SettingsDialog.razor
  WoWsShipBuilder.Desktop/Infrastructure/DesktopSettingsAccessor.cs
  WoWsShipBuilder.Web/Common/App.razor
  WoWsShipBuilder.Web/Features/Host/Error.cshtml
  WoWsShipBuilder.Web/Features/Host/Error.cshtml.cs
  WoWsShipBuilder.Web/Features/Host/_Host.cshtml
  WoWsShipBuilder.Web/Features/Host/_Layout.cshtml
  WoWsShipBuilder.Web/Features/TestPage/TestPage.razor
  WoWsShipBuilder.Web/Features/TestPage/TestPage2.razor
  WoWsShipBuilder.Web/Program.cs
  WoWsShipBuilder.sln
Labels: Web

#245 Web user authentication
  WoWsShipBuilder.Common/Infrastructure/ApplicationData/AppConstants.cs
  WoWsShipBuilder.Common/Infrastructure/Localization/Resources/Translation.Designer.cs
  WoWsShipBuilder.Common/Infrastructure/Localization/Resources/Translation.resx
  WoWsShipBuilder.Web/Common/App.razor
  WoWsShipBuilder.Web/Common/TopMenu.razor
  WoWsShipBuilder.Web/Common/Unauthorized.razor
  WoWsShipBuilder.Web/Features/AdminPage/AdminPage.razor
  WoWsShipBuilder.Web/Features/Authentication/ApplicationBuilderAuthExtensions.cs
  WoWsShipBuilder.Web/Features/Authentication/AuthController.cs
  WoWsShipBuilder.Web/Features/Authentication/AuthenticationService.cs
  WoWsShipBuilder.Web/Features/Authentication/WgResponse.cs
  WoWsShipBuilder.Web/Infrastructure/AdminOptions.cs
  WoWsShipBuilder.Web/Infrastructure/BetaAccess/BetaAccessManager.cs
  WoWsShipBuilder.Web/Infrastructure/SetupExtensions.cs
  WoWsShipBuilder.Web/Program.cs
  WoWsShipBuilder.Web/appsettings.Development.json
  WoWsShipBuilder.Web/appsettings.json
Labels: enhancement, Web
