Repository WoWs-Builder-Team/WoWs-ShipBuilder, pull requests merged in 2024-01, with the labels that each got.

#287 App pages browser
  WoWsShipBuilder.Common/Features/AccelerationCharts/AccelerationCharts.razor
  WoWsShipBuilder.Common/Features/AccelerationCharts/CustomAccelerationDataDialog.razor
  WoWsShipBuilder.Common/Features/AccelerationCharts/ShipBuildContainerSelectionDialog.razor
  WoWsShipBuilder.Common/Features/AccelerationCharts/ShipBuildContainerSelectionDialogOutput.cs
  WoWsShipBuilder.Common/Features/BallisticCharts/Charts.razor
  WoWsShipBuilder.Common/Features/BallisticCharts/Data/ChartsDataWrapper.cs
  WoWsShipBuilder.Common/Features/BallisticCharts/ShipAndShellSelectionDialog.razor
  WoWsShipBuilder.Common/Features/Builds/Components/BuildConfigurationDialog.razor
  WoWsShipBuilder.Common/Features/Builds/Components/BuildConfigurationDialogHelper.razor
  WoWsShipBuilder.Common/Features/Builds/ShipBuildViewModel.cs
  WoWsShipBuilder.Common/Features/FiringAngleDiagram/FiringAngleDialog.razor
  WoWsShipBuilder.Common/Features/Navigation/AppNavigator.cs
  WoWsShipBuilder.Common/Features/Navigation/SessionStateCache.cs
  WoWsShipBuilder.Common/Features/Navigation/ShipBuildContainer.cs
  WoWsShipBuilder.Common/Features/ShipComparison/GridData/GridDataWrapper.cs
  WoWsShipBuilder.Common/Features/ShipComparison/ShipComparison.razor
  WoWsShipBuilder.Common/Features/ShipComparison/ShipComparisonViewModel.cs
  WoWsShipBuilder.Common/Features/ShipSelection/FittingToolSelector.razor
  WoWsShipBuilder.Common/Features/ShipSelection/ShipSelectionDialog.razor
  WoWsShipBuilder.Common/Features/ShipSelection/ShipSelector.razor
  WoWsShipBuilder.Common/Features/ShipStats/Components/ShipStatsPanel.razor
  WoWsShipBuilder.Common/Features/ShipStats/Components/ShipStatsTab.razor
  WoWsShipBuilder.Common/Features/ShipStats/ShipStats.razor
  WoWsShipBuilder.Common/Features/StartPage/Index.razor
  WoWsShipBuilder.Common/Infrastructure/DataTransfer/SessionStateCache.cs
  WoWsShipBuilder.Common/Infrastructure/Localization/Resources/Translation.Designer.cs
  WoWsShipBuilder.Common/Infrastructure/Localization/Resources/Translation.resx
  WoWsShipBuilder.Common/Infrastructure/Metrics/MetricsService.cs
  WoWsShipBuilder.Common/Infrastructure/Utility/ServiceCollectionExtensions.cs
  WoWsShipBuilder.Desktop/Features/Settings/SettingsComponent.razor
  WoWsShipBuilder.Desktop/Infrastructure/Data/DesktopUserDataService.cs
  WoWsShipBuilder.Desktop/Infrastructure/LocalizeConverter.cs
  WoWsShipBuilder.Web/Features/AdminPage/AdminPage.razor
  WoWsShipBuilder.Web/Features/TestPage/TestPage.razor
  WoWsShipBuilder.Web/Features/TestPage/TestPage2.razor
  WoWsShipBuilder.Web/Features/UserSettings/UserSettings.razor
  WoWsShipBuilder.Web/Infrastructure/ServiceCollectionExtensions.cs
  WoWsShipBuilder.Web/Infrastructure/WebClipboardService.cs
Labels: enhancement

#288 Parameterized localization
  WoWsShipBuilder.Common/Features/Builds/Components/OverwriteExistingBuildConfirmationDialog.razor
  WoWsShipBuilder.Common/Infrastructure/Localization/ILocalizer.cs
  WoWsShipBuilder.Common/Infrastructure/Localization/Localizer.cs
  WoWsShipBuilder.Common/Infrastructure/Localization/LocalizerExtensions.cs
  WoWsShipBuilder.Common/Infrastructure/Localization/Resources/Translation.Designer.cs
  WoWsShipBuilder.Common/Infrastructure/Localization/Resources/Translation.resx
  WoWsShipBuilder.Desktop/Infrastructure/Data/DesktopUserDataService.cs
  WoWsShipBuilder.Desktop/Infrastructure/LocalizeConverter.cs
  WoWsShipBuilder.Web/Infrastructure/Data/WebUserDataService.cs
Labels: enhancement, Common

#292 Ship Comparison Pager
  WoWsShipBuilder.Common/Features/Settings/AppSettings.cs
  WoWsShipBuilder.Common/Features/ShipComparison/ShipComparison.razor
  WoWsShipBuilder.Common/Infrastructure/Localization/Resources/Translation.Designer.cs
  WoWsShipBuilder.Common/Infrastructure/Localization/Resources/Translation.resx
  WoWsShipBuilder.Common/wwwroot/css/app.css
Labels: enhancement

#296 Update 2.4 (Desktop) Patch 2
  ReleaseNotes.md
  WoWsShipBuilder.Common/Features/AccelerationCharts/AccelerationCharts.razor
  WoWsShipBuilder.Common/Features/Builds/Components/BuildConfigurationDialog.razor
  WoWsShipBuilder.Common/Features/Navigation/AppNavigator.cs
  WoWsShipBuilder.Common/Features/ShipComparison/ShipComparison.razor
  WoWsShipBuilder.Common/Features/ShipSelection/ShipSelector.razor
  WoWsShipBuilder.Common/Infrastructure/Localization/Resources/Translation.Designer.cs
  WoWsShipBuilder.Common/Infrastructure/Localization/Resources/Translation.resx
  WoWsShipBuilder.Desktop/Features/Settings/SettingsComponent.razor
  WoWsShipBuilder.Desktop/wwwroot/index.html
  WoWsShipBuilder.Web/Features/UserSettings/UserSettings.razor
Labels: Desktop

#297 Update 2.4 (Web) Patch 2
  ReleaseNotes.md
  WoWsShipBuilder.Common/Features/AccelerationCharts/AccelerationCharts.razor
  WoWsShipBuilder.Common/Features/Builds/Components/BuildConfigurationDialog.razor
  WoWsShipBuilder.Common/Features/Navigation/AppNavigator.cs
  WoWsShipBuilder.Common/Features/ShipComparison/ShipComparison.razor
  WoWsShipBuilder.Common/Features/ShipSelection/ShipSelector.razor
  WoWsShipBuilder.Common/Infrastructure/Localization/Resources/Translation.Designer.cs
  WoWsShipBuilder.Common/Infrastructure/Localization/Resources/Translation.resx
  WoWsShipBuilder.Desktop/Features/Settings/SettingsComponent.razor
  WoWsShipBuilder.Desktop/wwwroot/index.html
  WoWsShipBuilder.Web/Features/UserSettings/UserSettings.razor
Labels: Web
